.question-area {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

.action-buttons {
  margin-left: auto;
}

.action-buttons .button {
  margin: 5px;
}

.set-title {
  font-size: 20px;
  font-weight: bold;
}

.container {
	margin-top: 50px;
}
